h1(class: passed ? 'passed' : 'failed') Code check #{passed ? 'passed' : 'failed'}

- if (passed)
  h2
    em Yay
    | your code passed all checks.
- else
  h2
    em Sorry brah
    | your code failed some checks.
  ul#stacktrace
    - errors.forEach(function (error) {
      li(class: error.raw ? error.raw.replace(/[^a-zA-Z0-9]/g, '').toLowerCase() : 'parseError')
        h3
          em(title: "character " + error.character) Line #{error.line}
          | #{error.reason}
        table
          - Object.keys(error.excerpt).forEach(function (lineNumber) {
            tr(class=lineNumber == error.line ? 'errorLine' : false)
              td= lineNumber
              td!= error.excerpt[lineNumber]
          - })
    - });